@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Open+Sans:wght@600&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

h1 {
  font-weight: 400;
  font-size: 60px;
  line-height: 1;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: cadetblue;
}

#main {
  position: relative;
  /* VH or viewport height determines the height of element by setting it to a percentage of the viewport. Vw is used for width */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.2px;
  place-items: center;
}

#video-container {
  position: absolute;
  top: 0;
  width: 100%;

  height: 100%;
  background-image: url("Media/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* The object fit property determines how a video or image )
  (AKA img element) is resized to fit inside its container (parent element). Setting the value to "cover" causes the video to retain its aspect ratio and fill the given dimension */
  object-fit: cover;
}

#cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#content {
  color: white;
  z-index: 2;
  text-align: center;
}

#click {
  /* Inline Block allows you to set the top and bottom margin as well as the width and height. This is not the case with inline. */
  display: inline-block;
  margin-top: 25px;
  border: 2px solid white;
  padding: 10px 30px;
  background-color: #4b5163;
  /* A element will not inherit text color like other text elements will. Must be applied directly. */
  color: white;
  border-radius: 10px;
  font-size: 20px;
  opacity: 0.5;
}

#click:hover {
  /* Changes the site of an element */
  transform: scale(0.95);
}

/* Descendant selector (for every h2 inside a parent element with the id of about, apply x styles) */
#about {
  padding: 40px 0;
  text-align: center;
  margin: auto;
}

#about p {
  font-size: 20px;
  max-width: 500px;
  margin: auto;
}
#about h2 {
  margin: 40px 0px;
  color: #405163;
}

i {
  font-size: 40px;
  margin: 0.5px;
}
